<div class="decisionnode">
    {{#condition}}<div class="condition"><div class="iftext">IF</div>{{.}}</div>{{/condition}}{{defined}}
    {{#ifTrue}}<div class="iftrue"><div class="thentext">THEN</div>{{>node}}</div><!-- if true-->{{/ifTrue}}
    {{#ifFalse}}<div class="iffalse"><div class="elsetext">ELSE</div>{{>node}}</div><!-- if false-->{{/ifFalse}}
</div><!-- decisionnode -->
