<html>

<head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Expires" content="-1"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    {{>css}}
    {{>prettyJsonScript}}
</head>
<body>
<a href="/"><img src="https://imagizer.imageshack.com/v2/100x75q90/924/opprMV.png"/></a>
{{#item}}{{#data}}Scenario being added{{s}}{{/data}}{{/item}}
{{{body}}}

<hr/>
{{body.map}}
JSON
<pre><div class="json">{{{json}}}</div></pre>
</body>
</html>