{{#scenarioTitle}}<table><tr><th>Situation</th><th>Defined</th></tr>{{/scenarioTitle}}{{^scenarioTitle}}<table>{{/scenarioTitle}}{{#scenarios}}{{>scenario}}{{/scenarios}}</table>
{{^scenarios}}No scenarios{{/scenarios}}